---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import datavisualisering from "../assets/images/datavisualisering.svg";
---
<MainLayout title="Titel">
	<article class="py-8 px-64 m-24">
		<h1 class="text-2xl font-bold pb-2 pl-20">Gennemsnitsalder for førstegangsfødende kvinder</h1>
		<p class="text-1xl pb-16 pl-20">Der er sket en stigning i gennemsnitsalderen for førstegangsfødende kvinder siden 1960.</p>
		<!-- <Button>Klik!</Button>
		<p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>-->
		<Image class="pl-36 transform scale-150 object-cover" src={datavisualisering} alt="Graf"></Image>
	</article>
</MainLayout>